body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a.color {
    position: relative;
    transition: 0.25s color;
}

a.color span {
    height: 0;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: -1;
    transition: 0.1s all;
}

nav {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

nav h2 {
    margin: 0;
    padding: 0 0 2rem 0;
    font-weight: 300;
    font-size: 1.4rem;
    width: 100%;
    display: block;
}

nav ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    height: 1.5rem;
    margin: 0 0 1rem 0;
    padding: 0;
    display: inline-flex;
    flex-grow: 1;
}

nav li a {
    width: 100%;
    height: 100%;
    min-width: 164px;
    padding: 0.5rem 0 0.3rem 0;
    font-weight: 900;
}

h1 {
    padding: 0 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
}

h5 {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

h2 a {
    box-sizing: border-box;
    padding: 2.2rem 0 1.6rem 0;
    width: 100%;
    display: block;
}

#content {
    max-width: 1640px;
    margin: 2rem auto 8rem auto;
    text-align: center;
}

ul.photos {
    margin: 0 0 8rem 0;
    padding: 0;
    width: 100%;
    align-content: stretch;
}

ul.photos li {
    margin: 8rem auto;
    padding: 0;
    box-sizing: border-box;
    width: 48%;
    min-width: 333px;
    display: inline-flex;
}

ul.photos li img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 666px;
}

ul.photos li.wide {
    width: 98%;
}

ul.photos li.wide img {
    max-width: 999px;
}

ul.photos li.tall img {
    height: 100%;
    width: auto;
    max-height: 777px;
}

@media only screen and (max-width: 666px) {
    body {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2rem;
    }

    h5 {
        font-size: 0.7rem;
    }
}