<ul class="photos">
    <li><img src="img/1.jpg" /></li>
    <li><img src="img/2.jpg" /></li>

    <li><img src="img/3.jpg" /></li>
    <li><img src="img/4.jpg" /></li>

    <li class="wide"><img src="img/jellyfish.jpg" /></li>

    <li><img src="img/5.jpg" /></li>
    <li><img src="img/6.jpg" /></li>

    <li class="wide"><img src="img/bridge.jpg" /></li>

    <li><img src="img/window.jpg" /></li>
    <li><img src="img/giza.jpg" /></li>

    <li class="wide"><img src="img/road.jpg" /></li>

    <li><img src="img/trees.jpg" /></li>
    <li><img src="img/skull.jpg" /></li>

    <li class="wide"><img src="img/union.jpg" /></li>

    <li class="tall"><img src="img/squares.jpg" /></li>
    <li class="tall"><img src="img/circles.jpg" /></li>

    <li class="wide"><img src="img/louvre.jpg" /></li>

    <li><img src="img/bubble1.jpg" /></li>
    <li><img src="img/bubble2.jpg" /></li>

    <li><img src="img/local.jpg" /></li>
    <li><img src="img/tourist.jpg" /></li>
</ul>